.container{
    /* margin: 10px 20px; */
    /* padding: 30px 50px; */
    text-align: center;
    vertical-align: middle;
}
.title{
    font-size: 56px;
    font-weight: 800;
    text-align: center;
    display: block;
    line-height: 66px;
    padding: 50px;
}
.image{
    height: 600px;
    width: 100%;
}

.user{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
}
.userName{
    padding-left: 10px ;
}
.dates{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dates > span{
    padding-left: 10px;
}
.paragraph{
    padding: 30px 50px 10px 50px;
    font-size: 25px;
    text-align: center;
    text-indent: 100px;
}

@media screen and (min-width: 1600px) {
    .image{
        width: 70%;
    }
    .title{
        padding: 50px 250px;
    }
    .paragraph{
        padding: 30px 50px 10px 50px;
        font-size: 30px;
    }
  }

  @media screen and (max-width: 600px) {
    .image{
        height: 200px;
        width: 100%;
    }
    .title{
        padding: 20px 10px;
        font-size: 38px;
        line-height: 40px;
    }
    .paragraph{
        padding: 30px 20px 10px 20px;
        font-size: 20px;
    }
  }

  @media screen and (max-width: 400px) {
    .image{
        height: 200px;
        width: 100%;
    }
    .title{
        padding: 10px 10px;
        font-size: 32px;
        line-height: 30px;
    }
    .paragraph{
        padding: 30px 10px 10px 10px;
        font-size: 20px;
    }
  }

  @media screen and (max-width: 300px) {
    .container{
        padding: 10px;
        border: 1px solid;
        width: 100%;
    }
    .image{
        height: 200px;
        width: 100%;
        vertical-align: middle;
    }
    .title{
        padding: 20px 5px;
        font-size: 30px;
        line-height: 30px;
    }
    .paragraph{
        padding: 30px 10px 10px 10px;
    }
   
  }