.MainDiv{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #182020;
    /* background-color: #222736; */
     background-color: #36394c;
}
.logo{
    height: 50px;
    width: 140px;
}
.InDivTwo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;

}
.create{
    padding: 8px 12px 8px 12px;
    display: flex;
    align-items: center;
    border-radius: 10px;    
    border: none;
    text-decoration: none;
    background-color: #1976d2;
    gap: 7px;
    color: #fff;
}
@media screen and (max-width: 300px) {
    .MainDiv{
        height: auto;
        width: auto;
    }
  }

