@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

*{
  font-family: 'Noto Sans', sans-serif;
  font-size: 22px;
}

/* body{ */

      /* background-color: #36394c; */
      /* background-color: #222736; */
/* } */

/* .app {
  --main-bg-color: #272727;
  --main-text-color: #dfdfdf;
} */
